:host {
   font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body {
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip; 
    margin: 0 auto;
}
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Grande", Helvetica ;
}
html, body {
    min-height: 100%;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  .container.main-div::before {    
    content: "";
    background: url('../assets/images/wallpaper_2.jpeg') no-repeat center center fixed; 
    background-size: cover;
    position: absolute;
    z-index: -1; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

 .container.main-div {
  margin:0;
  padding:0;
  width:100%;
  display: block;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
 }

.crypto-title {
  color: #fff;
  font-size: 100px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 330px;
  margin: 50px auto;
  font-weight: lighter;
  transition: .9s;
}
.crypto-title:hover {
  transition: .9s;
  letter-spacing: 14px;
  width: 430px;
}

@media screen and (max-width: 700px){
  body {
    background-color: #424344;
 }
  .container.main-div::before {
    background: url('../assets/images/wallpaper-mobile.jpeg') no-repeat center center fixed; 
    opacity: 0.95;
    background-size: cover;
    position: fixed;
  }
  .container.main-div {
    position: fixed;
  }
}

